@tailwind base;
@tailwind components;
@tailwind utilities;

.slanted {
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 150px;
}
@media only screen and (max-width: 600px)  {
.slanted {
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 90px;
}
}